@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
:root{
    --fonte-principal: "Gabriela", serif;
    --fonte-secundaria: "Ledger", serif;
    --cor-escrita: rgb(206, 42, 94);
    --cor-numero: rgb(232, 83, 130);
    --cor-borda: rgb(208, 82, 122);
    --cor-fundo-icones: rgb(218, 57, 108);
    --cor-traje-aviso: rgb(255, 255, 255);
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: var(--fonte-principal);
    background-image: url('imagens/fundo.jpg');
}

.convidando{
    max-width: 100%;
    padding: 0 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

    
.imagem_arco{
    width: 15em;
    height: 16.4em;
    border-radius: 1em;
    margin-left: 0.8em;
    
}

.conteudo-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dia_da_festa{
    margin-bottom: 1.25em;
    margin-top: 0.5em;
    display: flex;
    padding-left: 0.2em;
    color: var(--cor-escrita);
}

.dia-semana_horario{
    padding: 0 2em;
    border: 1.5px solid var(--cor-borda);
    height: 4.2em;
    width: 2em;
    border-right-style: hidden;
}

.dia-semana{
    margin-left: -0.8em;
}

.horario{
    margin-top: -1em;
    margin-left: -0.4em;
    color: var(--cor-numero);
}

.dia{
    border: 1.5px solid var(--cor-borda);
    border-radius: 10em;
    width: 3em;
    height: 1em;
    margin-top: -0.4em;
    margin-left: -0.5em;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 1.2em;
    font-size: 30px;
}

.mes_ano-festa{
    padding: 0 2em;
    border: 1.5px solid var(--cor-borda);
    height: 4.2em;
    border-left-style: hidden;
    margin-left: -1em;
    width: 2em;
}

.ano-festa{
    margin-top: -1em;
    margin-left: 0.3em;
    color: var(--cor-numero);
}

.local{
    margin-top: -4.5em;
    padding-left: 0.5em;
    font-size: 13px;
    color: var(--cor-escrita);
}

.edificio{
    margin-top: -0.8em;
    padding-left: 4em;
}

.salao{
    margin-top: -0.8em;
    padding-left: 5.3em;
}

.icones{
    display: flex;
    margin-top: 2.6em;
    margin-left: 1.2em;
}

.traje{
    padding-left: 1em;
}

.traje-vestimenta{
    border: 1px solid var(--cor-fundo-icones);
    background-color: var(--cor-fundo-icones);
    padding: 1.8em 1em 0.8em;
    border-radius: 2em;
        
}
    
.imagem__icones{
    width: 1.8em;
    height: 1.8em;
}

.codigo_vestimenta{
    padding-top: 0.8em;
    padding-left: 0.8em;
    font-size: 13px;
    color: var(--cor-escrita);
}

.sua-presenca{
    padding-left: 2em;
}

.confirmacao{
    border: 1px solid var(--cor-fundo-icones);
    background-color: var(--cor-fundo-icones);
    padding: 1.8em 1em 0.8em;
    border-radius: 2em;
        
}
.sua-presenca__confirmacao{
    padding-top: 0.8em;
    font-size: 13px;
    color: var(--cor-escrita);
    padding-right: 1em;
    
}
.localizacao{
    padding-right: 1.4em;
}

.localizador{
    border: 1px solid var(--cor-fundo-icones);
    background-color: var(--cor-fundo-icones);
    padding: 1.8em 1em 0.8em;
    border-radius: 2em;
    
        
}
.localizacao_{
    padding-top: 0.8em;
    font-size: 13px;
    color: var(--cor-escrita);
}

.modal{
    background-color: var(--cor-borda);
    left: 5em;
    top: 38em;
    transform: translate(-1em, -1em); 
    width: 10em;
    margin-left: 4em;
    margin-top: -7em;
    border-radius: 1em;
    opacity: 80%;
    height: 6em;
    position: fixed; /* Mantém o modal fixo na tela */
    transform: translate(-50%, -50%); /* Centraliza o modal */
    z-index: 9999; /* Garante que o modal esteja acima de outros elementos */            
}
#modal-nome{
    width: 15em;
    height: 17.8em;
    left: 5em;
    top: 25em;
}
.fechar{
    margin-left: 10.6em;
    border-radius: 1em;
    border: none;
    background-color: red;
}
#fechar{
    margin-left: 16.4em;
}

#mensagem-convites{
    color: var(--cor-traje-aviso);
    font-size: 20px;
    font-family: var(--fonte-principal);
    margin-left: 0.6em;
}
.confirmacao-nome{
    align-items: center;
    margin-top: -0.5em;
    margin-left: 0.5em;
    font-size: 20px;
    color: var(--cor-traje-aviso);
}

#mensagem-convites{
    padding-right: 0.2em;
}

.traje-conteiner{
    align-items: center;
    margin-top: -0.5em;
    margin-left: 0.5em;
    font-size: 20px;
    color: var(--cor-traje-aviso);
}
.evitar{
    margin-top: -1em;
    margin-left: 0.5em;
    color: var(--cor-traje-aviso);
    font-size: 18px;
}

.rodape__aviso{
    color: var(--cor-escrita);
    font-family: var(--fonte-principal);
    font-weight: bold;
    text-align: center;
}
    

 

